<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>areaName</key>
		<string>日韩</string>
		<key>cityLists</key>
		<array>
			<string>首尔</string>
			<string>东京</string>
			<string>京都</string>
			<string>大阪</string>
			<string>日本</string>
			<string>韩国</string>
			<string>釜山</string>
			<string>济州岛</string>
			<string>北海道</string>
			<string>冲绳</string>
			<string>箱根</string>
			<string>福冈</string>
			<string>横滨</string>
			<string>奈良</string>
			<string>名古屋</string>
		</array>
	</dict>
	<dict>
		<key>areaName</key>
		<string>欧洲</string>
		<key>cityLists</key>
		<array>
			<string>英国</string>
			<string>伦敦</string>
			<string>爱丁堡</string>
			<string>法国</string>
			<string>巴黎</string>
			<string>意大利</string>
			<string>罗马</string>
			<string>佛罗伦萨</string>
			<string>威尼斯</string>
			<string>米兰</string>
			<string>柏林</string>
		</array>
	</dict>
	<dict>
		<key>areaName</key>
		<string>澳洲</string>
		<key>cityLists</key>
		<array>
			<string>澳大利亚</string>
			<string>墨尔本</string>
			<string>悉尼</string>
			<string>黄金海岸</string>
			<string>布里斯班</string>
		</array>
	</dict>
	<dict>
		<key>areaName</key>
		<string>东南亚</string>
		<key>cityLists</key>
		<array>
			<string>曼谷</string>
			<string>清迈</string>
			<string>新加坡</string>
			<string>普吉岛</string>
			<string>芽庄</string>
		</array>
	</dict>
	<dict>
		<key>areaName</key>
		<string>亚洲其他</string>
		<key>cityLists</key>
		<array>
			<string>塞班岛</string>
			<string>香港</string>
			<string>台北</string>
			<string>新北</string>
			<string>台南</string>
		</array>
	</dict>
	<dict>
		<key>areaName</key>
		<string>中东非洲</string>
		<key>cityLists</key>
		<array>
			<string>迪拜</string>
			<string>阿联酋</string>
		</array>
	</dict>
	<dict>
		<key>areaName</key>
		<string>北美</string>
		<key>cityLists</key>
		<array>
			<string>多伦多</string>
			<string>温哥华</string>
			<string>加拿大</string>
			<string>美国</string>
			<string>纽约</string>
			<string>旧金山</string>
			<string>洛杉矶</string>
			<string>拉斯维加斯</string>
		</array>
	</dict>
</array>
</plist>
